:root {
  --text-color: #ffffff;
  --highlight-color: #e1be64;
  --dropdown-bg: #ffffff; 
  --second-color: #8da6b7;
  --p-color:#666666;
  --heading-color: #333333;;
  --newsletter: #bcc9d6;
  --btn2-bordercolor: #d9d9d9;
  --sansfont: "Open Sans", sans-serif;
  --Pacifico-cursive-font: "Pacifico", cursive;
  --Scriptina-font:"WindSong", cursive;
  --offvanvas-color:#cccccc;
}




.spaced {
  letter-spacing: 4px;
}
/* start of Navbar section*/
/* الخط تحت الروابط عند hover */
.navbar-nav .nav-link {
  position: relative;
  transition: color 0.3s;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color:var(--text-color);
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 110%; /* زيادة عن 100% لإبعاد القائمة عن العنصر */
  left: 0;
  background-color: var(--dropdown-bg);
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0px;
  min-width: 200px;
}
/* عرض القائمة عند hover */
.nav-item.dropdown:hover > .dropdown-menu,
.nav-item.dropdown.show > .dropdown-menu {
  display: block;
}

/* عناصر القائمة */
.dropdown-item {
  color: #333;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
}

/* إزالة الخط الأخير */
.dropdown-item:last-child {
  border-bottom: none;
}

/* عند hover */
.dropdown-item:hover {
  color: var(--highlight-color);
}

/* خط أصفر تحت العنصر عند hover */
.dropdown-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--highlight-color);
  transition: width 0.3s ease;
}

.dropdown-item:hover::after {
  width: 100%;
}

.navbar-nav .nav-link:hover {
  color:var(--text-color);
}
.navbar .nav-link {
  position: relative;
  color: #000;
  font-weight: 500;
  transition: color 0.3s ease;
}


.nav-link.dropdown-toggle {
  display: inline-flex;
  align-items: center;
  gap: 4px; /* مسافة بين النص والـ svg */
}


.navbar .nav-link:hover::after {
  width: 100%;
}
/* أيقونات اليمين */
.nav-icon {
  font-size: 1.25rem;
  color: #000;
  transition: all 0.3s ease;
}

.nav-icon:hover {
  color: #ffc107;
}

/* تأثير الـ menu تتحول إلى + عند hover */
.menu-toggle i {
  transition: all 0.3s ease;
}

.menu-toggle:hover i {
  transform: rotate(45deg);
}

/* Responsive */
@media (max-width: 991px) {
  .navbar .navbar-collapse {
    display: none !important;
  }
  .menu-toggle {
    display: inline-block;
  }
}

.offcanvas{
  background-color: #262626;
}

.offcanvas .offcanvas-body .link-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /*distance between links*/
  }

 .offcanvas .offcanvas-body .link-list a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    font-family:var(--sansfont);
    font-size: 13px;
    font-weight: 600;
    line-height: 30px;
    }

   .offcanvas .offcanvas-body .link-list a:hover {
    color:var(--highlight-color);
    transform: translateX(10px);/*move links into right*/
  }

  .offcanvas .offcanvas-body p{
    font-family: var(--sansfont);
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    color:var(--offvanvas-color);
  }
    .offcanvas .offcanvas-body span{
    font-family: var(--sansfont);
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    color:var(--offvanvas-color);
  }

  .offcanvas svg path {
  transition: fill 0.3s;
}

.offcanvas svg:hover path {
  fill:var(--highlight-color);
}


/*element dropdown*/
 /* الروابط داخل القائمة */
.element-menu .dropdown-item {
  transition: all 0.3s;
  padding: 3px 0; /* تقليل المسافة بين العناصر */
}
.element-menu .dropdown-item:hover {
  color: var(--highlight-color);
  transform: translateX(10px);
}
/* space between columns*/
.element-menu {
  gap: 0;
}
.first {
  font-family: var(--sansfont);
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
  color: var(--heading-color);
}

.other {
  font-family: var(--sansfont);
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  color: var(--heading-color);
}

.btn-menu {
  transition: fill 0.3s;
}

.btn1-menu:hover path {
  fill:var(--highlight-color);
}

/* end of Navbar section*/
/* start of Form section*/
.container .form-contact .row h2{
font-family:var(--sansfont);
font-size: 40px;
font-weight: 600;
line-height: 44px;
color:var(--heading-color);
}

.container .form-contact .row p{
font-family:var(--sansfont);
font-size: 16.05px;
font-weight: 300;
line-height: 30.09px;
color:var(--p-color);
}

.form-contact  button.btn1 {
  padding: 10px 25px;
  border: 1px solid;
  border-color: var(--btn2-bordercolor);
  background-color: var(--heading-color);
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.form-contact button.btn2 {
  padding: 10px 25px;
  border: 1px solid;
  border-color: var(--btn2-bordercolor);
  background-color: var(--text-color);
  color: var(--heading-color);
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.form-contact button .btn3{
 padding: 12px 32px;
 border: 1px solid;
  border-color: var(--btn2-bordercolor);
  background-color: var(--heading-color);
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.form-contact button.btn1:hover {
  color: var(--text-color);
  background-color: var(--highlight-color);
}

.form-contact button.btn2:hover {
  color: var(--text-color);
  background-color: var(--highlight-color);
}
.form-contact button.btn3:hover {
  color: var(--text-color);
  background-color: var(--highlight-color);
}

.container .btn3{
 padding: 12px 32px;
 border: 1px solid;
  border-color: var(--btn2-bordercolor);
  background-color: var(--heading-color);
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}


.form-contact .form-control::placeholder {
  color: var(--p-color);
  opacity: 0.8;
}

/* end of Form section*/

/* start google map section*/
.map {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 50%; 
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* end google map section*/

/*start of footer */
.footer {
  background: #1e1e1e;
  width:100%;
}
 .footer .p1{
color:var(--p-color);
 }


.footer-bottom {
  background-color: #000;
  color: #ccc;
  font-size: 14px;
}

.footer a {
  transition: color 0.3s ease;
}
.footer svg path {
  transition: fill 0.3s;
}

.footer svg:hover path {
  fill:var(--highlight-color);
}
.footer .email-input{
  border-radius: 0px;
  padding:5px;
}
.footer .btn-footer{
  background-color: var(--highlight-color);
  border:none;
  padding:10px 20px;
  color:var(--text-color);
}
.footer .number{
  color:var(--highlight-color);
}

/*end of footer*/