:root {
  --text-color: #ffffff;    
  --highlight-color: #e1be64; 
  --dropdown-bg: #ffffff;
   --second-color:#8da6b7;
   --p-color:#666666;
   --heading-color:#303030;
   --newsletter:#bcc9d6;
  --sansfont: "Open Sans", sans-serif;
  --Pacifico-cursive-font:"Pacifico", cursive;
 
}



.sans-font {
  font-family: var(--sansfont);
  font-size: small;
}

.text-color {
  color: var(--text-color);
}

/* ===================== Navbar ===================== */
.navbar {
  background: transparent;
  padding: 1rem 4rem;
}

.navbar-nav {
  align-items: center;
  gap: 2rem;
}

.navbar-nav.left {
  flex: 1;
  justify-content: flex-end;
  margin-right: 5rem;
}

.navbar-nav.right {
  flex: 1;
  justify-content: flex-start;
  margin-left: 5rem;
}

/*navbar links*/
.nav-link  {
  color: var(--text-color) !important;
  font-weight: 600;
  text-transform: none;
  position: relative;
  letter-spacing: 0.5px;
  padding-bottom: 5px; 
  transition: color 0.3s ease;
}
.navbar.bg-white.d-lg-none .dropdown-menu a,
.navbar.bg-white.d-lg-none .nav-link,
.navbar.bg-white.d-lg-none .dropdown-item {
  color:var(--heading-color)!important;
}

.navbar.bg-white.d-lg-none .dropdown-menu a:hover {
  color: #555 !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--text-color);
  transition: width 0.3s ease;
}


.nav-item.dropdown:hover > .nav-link::after,
.nav-item.dropdown.show > .nav-link::after {
  width: 100%;
}

/* ===================== Dropdown Menu ===================== */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 110%; 
  left: 0;
  background-color: var(--dropdown-bg);
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding: 0px;
  min-width: 200px;
}



.nav-item.dropdown:hover > .dropdown-menu,
.nav-item.dropdown.show > .dropdown-menu {
  display: block;
}


.dropdown-item {
  color: #333;
  padding: 0.6rem 1.2rem;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease;
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
}


.dropdown-item:last-child {
  border-bottom: none;
}


.dropdown-item:hover {
  color: var(--highlight-color);
}


.dropdown-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--highlight-color);
  transition: width 0.3s ease;
}

.dropdown-item:hover::after {
  width: 100%;
}


.dropdown-item svg path {
  transition: fill 0.3s ease;
}

.dropdown-item:hover svg path {
  fill: var(--highlight-color);
}


.dropdown-toggle::after {
  display: none !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: var(--text-color);
  transition: width 0.3s ease;
}

.nav-item.dropdown:hover > .nav-link::after,
.nav-item.dropdown.show > .nav-link::after {
  width: 100%;
}

.navbar {
  transition: all 0.4s ease;
  background-color: transparent;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: white !important;
  transition: color 0.3s ease;
}

/*end of navbar*/

/* start of hero */
/* overlay images animation */
.hero .carousel-item img.overlay {
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.8s ease-out, transform 1.5s ease-out;
}

.hero .carousel-item.active img.overlay {
  opacity: 1;
  transform: scale(1);
}

/* responsive for images on hero */
.hero .overlay {
  width: 35vw;   /* relative to screen width */
  max-width: 600px;
  height: auto;
  transition: all 0.4s ease-in-out;
}

/* responsive over play */
@media (max-width: 992px) {
  .hero .overlay {
    width: 45vw;
  }
}

/* phones */
@media (max-width: 576px) {
  .hero .overlay {
    width: 65vw;
  }
}

/* carousel indicators */
.hero .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--second-color);
  opacity: 0.7;
  border: none;
  transition: all 0.3s ease;
  margin: 0 6px;
}


.hero .carousel-indicators .active {
  background-color: var(--text-color);
  opacity: 1;
  transform: scale(1.2);

}
/* end of hero */

/*start of delicious*/
.delicious {
  position: relative;
  z-index: 1; 
  background-color: #fff;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.delicious h2 {
  font-family: var(--Pacifico-cursive-font);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--heading-color);
}

.delicious p {
  color: var(--p-color);
  font-size: 16px;
}

.delicious .card {
  border: none;
  background: transparent;
  transition: transform 0.3s ease-in-out;
}

.delicious .card img {
  border: none;
  border-radius: 50%;
  width: 270px; /*default size */
  height: 270px;
  object-fit: cover;
  margin: 0 auto;
  transition: transform 0.5s ease-in-out, width 0.3s, height 0.3s;
}

.delicious .card:hover img {
  transform: scale(1.05);
}

.delicious .card h5 {
  color: var(--heading-color);
}

.delicious .card p {
  color: var(--p-color);
}

/*  responsive image sizes */
@media (max-width: 992px) {
  .delicious .card img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .delicious .card img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 576px) {
  .delicious .card img {
    width: 130px;
    height: 130px;
  }
}
/*end of delicious*/


/*start of newsletter*/
.newsletter {
  background: url("../img/newsletter/newsletter.webp");
  color: var(--dropdown-bg);
  padding: 5rem 0;
}

.custom-progress {
  background-color: var(--newsletter);
  height: 12px;
  border-radius: 10px;
}

.custom-bar {
  background-color: var(--text-color);
  border-radius: 10px;
}

.newsletter h3 {
  font-family: var(--Pacifico-cursive-font);
  font-size: 45px;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.newsletter p {
  color: var(--text-color);
  font-size: 16px;
  margin-bottom: 1.5rem;
}

.newsletter button {
  padding: 10px 25px;
  border: none;
  background-color: var(--text-color);
  color: var(--heading-color);
  font-size: 16px;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: var(--highlight-color);
  color: var(--text-color);
}




/*end of newsletter*/


/*start of romance*/
.romance h2{
font-family:var(--Pacifico-cursive-font);
font-size: 45px;
font-weight: 400;
line-height: 58.5px;
color:var(--heading-color);
}

.romance p{
    color:var(--p-color);
    font-size: 16px;
}

.romance .card img{
    border:none;
    border-radius: 50%; 
}

.romance .card h5{
    color:var(--heading-color);
    
}

.romance .card p{
    color:var(--p-color);
}

.romance .cards{
    display:flex;
    justify-content:space-between;
  }

/*end of romance*/


/*start of footer */
.footer {
  background: #1e1e1e;
  width:100%;
}
 .footer .p1{
color:var(--p-color);
 }


.footer-bottom {
  background-color: #000;
  color: #ccc;
  font-size: 14px;
}

.footer a {
  transition: color 0.3s ease;
}
.footer svg path {
  transition: fill 0.3s;
}

.footer svg:hover path {
  fill:var(--highlight-color);
}
.footer .email-input{
  border-radius: 0px;
  padding:5px;
}
.footer .btn-footer{
  background-color: var(--highlight-color);
  border:none;
  padding:10px 20px;
  color:var(--text-color);
}
.footer .number{
  color:var(--highlight-color);
}

/*end of footer*/