:root {
  --text-color: #ffffff;
  --highlight-color: #e1be64; /* اللون الأصفر */
  --dropdown-bg: #ffffff; /* خلفية القوائم بيضاء */
  --second-color: #8da6b7;
  --p-color:#666666;
  --heading-color: #333333;;
  --newsletter: #bcc9d6;
  --btn2-bordercolor: #d9d9d9;
  --sansfont: "Open Sans", sans-serif;
  --Pacifico-cursive-font: "Pacifico", cursive;
}


.spaced {
  letter-spacing: 4px;
}


/*Start of balance section*/
.container .balance h2{
font-family:var(--sansfont);
font-size: 40px;
font-weight: 600;
line-height: 44px;
color:var(--heading-color);
padding: 50px;
}

.container .balance h5{
font-family:var(--sansfont);
font-size: 15px;
font-weight: 600;
line-height: 23.4px;
color:var(--heading-color);
}

.container .balance p{
font-family:var(--sansfont);
font-size: 14px;
font-weight: 300;
line-height: 26px;
color:var(--p-color);
}
/*end of balance section*/

/*Start of newsletter section*/
.newsletter {
  background: url("../img/services/newsletter/newsletter.webp");
 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  margin-top: 3rem;
}
.newsletter h2 {
  color: var(--text-color);
  font-family: var(--sansfont);
 font-size: 40px;
font-weight: 600;
line-height: 44px;
  padding: 20px;
  padding-top: 40px;
}
.newsletter .p2 {
  color: var(--text-color);
  font-family: var(--sansfont);
 font-size: 16px;
font-weight: 300;
line-height: 30px;
  padding: 10px;
}

 .newsletter button.btn1 {
  padding: 15px 40px;
  border:none;
  background-color: var(--text-color);
  color: var(--heading-color);
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}
 .newsletter button.btn1:hover {
  color: var(--text-color);
  background-color: var(--highlight-color);
}

/*end of newsletter section*/

/*Start of good section*/
.good .row h2 {
  color: var(--heading-color);
  font-family: var(--sansfont);
 font-size: 36px;
font-weight: 600;
line-height: 44px;
}

.good .row .p1 {
  color: var(--p-color);
  font-size: 16px;
font-weight: 300;
line-height: 27px;
}

.good  button.btn1 {
  padding: 10px 25px;
  border: 1px solid;
  border-color: var(--btn2-bordercolor);
  background-color: var(--heading-color);
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.good button.btn2 {
  padding: 10px 25px;
  border: 1px solid;
  border-color: var(--btn2-bordercolor);
  background-color: var(--text-color);
  color: var(--heading-color);
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.good button.btn1:hover {
  color: var(--text-color);
  background-color: var(--highlight-color);
}

.good button.btn2:hover {
  color: var(--text-color);
  background-color: var(--highlight-color);
}


/*end of good section*/

/*start of footer */
.footer {
  background: #1e1e1e;
  width:100%;
}
 .footer .p1{
color:var(--p-color);
 }


.footer-bottom {
  background-color: #000;
  color: #ccc;
  font-size: 14px;
}

.footer a {
  transition: color 0.3s ease;
}

.footer a .svg:hover {
  background-color:var(--highlight-color);
}

.footer .email-input{
  border-radius: 0px;
  padding:5px;
}
.footer .btn-footer{
  background-color: var(--highlight-color);
  border:none;
  padding:10px 20px;
  color:var(--text-color);
}
.footer .number{
  color:var(--highlight-color);
}

/*end of footer*/