:root {
  --text-color: #ffffff;
  --highlight-color: #e1be64; /* اللون الأصفر */
  --dropdown-bg: #ffffff; /* خلفية القوائم بيضاء */
  --second-color: #8da6b7;
  --p-color:#666666;
  --heading-color: #333333;;
  --newsletter: #bcc9d6;
  --btn2-bordercolor: #d9d9d9;
  --sansfont: "Open Sans", sans-serif;
  --Pacifico-cursive-font: "Pacifico", cursive;
  --Scriptina-font:"WindSong", cursive;
}




.spaced {
  letter-spacing: 4px;
}

.container .row h2{
font-family:var(--Scriptina-font);
font-size: 70px;
font-weight: 300;
line-height: 77px;
color:var(--highlight-color);
margin-bottom: 0;
position: relative;
  z-index: 2;
}

.container .row h3{
font-family:var(--sansfont);
font-size: 40px;
font-weight: 600;
line-height: 52px;
color:var(--heading-color);
margin-top: 0;
position: relative;
  top: -20px; 
  left: 10px;
  z-index: 1;
}

.container .row .margin-h2{
    margin-left: 160px;
}

.container .row p{
font-family:var(--sansfont);
font-size: 14px;
font-weight: 300;
line-height: 27px;
color:var(--p-color)
}

.container button.btn1 {
  padding: 15px 40px;
  border: 1px solid;
  border-color: var(--btn2-bordercolor);
  background-color: var(--text-color);
  color: var(--heading-color);
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}
 .container button.btn1:hover {
  color: var(--text-color);
  background-color: var(--highlight-color);
}


/* start of what we offer section*/
span{
font-family:var(--sansfont);
font-size: 16px;
font-weight: 400;
line-height: 34px;
color: var(--text-color);
}

.p1{
font-family:var(--sansfont);
font-size: 16px;
font-size: 40px;
font-weight: 600;
line-height: 52px;
color: var(--text-color);
}

.p2{
font-family:var(--sansfont);
font-size: 16px;
font-weight: 300;
line-height: 30px;
color: var(--text-color);
}

button.btn1 {
  padding: 15px 40px;
  border:none;

  background-color: var(--text-color);
  color: var(--heading-color);
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}
 button.btn1:hover {
  color: var(--text-color);
  background-color: var(--highlight-color);
}
/*end of what we offer section*/

/*start of footer */
.footer {
  background: #1e1e1e;
  width:100%;
}
 .footer .p1{
color:var(--p-color);
 }


.footer-bottom {
  background-color: #000;
  color: #ccc;
  font-size: 14px;
}

.footer a {
  transition: color 0.3s ease;
}

.footer a .svg:hover {
  background-color:var(--highlight-color);
}

.footer .email-input{
  border-radius: 0px;
  padding:5px;
}
.footer .btn-footer{
  background-color: var(--highlight-color);
  border:none;
  padding:10px 20px;
  color:var(--text-color);
}
.footer .number{
  color:var(--highlight-color);
}

/*end of footer*/